#root {
  max-width: 1280px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  display: flex;
  align-items: center;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9rem;
}

main {
  margin: 0 auto;
  border: 1px solid rgba(202, 220, 252, 1);
  border-radius: 8px;

  height: 100%;
  flex-basis: 800px;
  box-sizing: border-box;

  padding: 32px 16px;
}

div.submit {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 4px 12px;
  border: 1px solid #00246B;
  background-color: #CADCFC;
  border-radius: 8px;
  font-weight: 600;

  color: #00246B;

  will-change: transform;
  transition: transform 0.2s;

  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

.addNew {
  display: flex;
  justify-content: flex-end;
}

.addNew button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;

  height: 20px;
  width: 20px;
  border-radius: 50%;

  padding: 0;
}

section {
  padding: 8px;
  border-radius: 5px;
}

.icon {
  width: 16px;
  height: 16px;
}

.formGroup {
  display: flex;
}

.itemActions {
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.educationItem {
  border: 1px solid #CADCFC;
  padding: 16px;
  border-radius: 8px;

}

.educationItem h6 {
  padding: 0;
  margin: 4px;

  color: gray;
}

.educationItem p {
  padding: 0px;
  margin: 4px;
}

.educationItem .itemContent {
  font-weight: 600;
  font-size: 16px;

  text-transform: capitalize;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 8px;
  padding: 16px;
}

@media (max-width: 400px) {
  .formGroup {
    flex-direction: column;
  }

}

header {
  padding: 16px;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  padding: 0;
  margin: 8px;
  text-transform: capitalize;

  color: rgb(82, 82, 82);
}

section.result {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 24px 8px;
}