.inputSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    justify-items: center;
}


label input {
    width: 100%;
    max-width: 200px;
}